/*fixa foton*/

.info {
	height: 496px;
	width: 100vw;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
    top: 50px;
    bottom: 50px;
}

.first-section {
	position: relative;
	height: 685px;
}

.info-left {
	width: 100%;
	max-width: 560px;
	margin-top: 45px;
}

.info__right {
	width: 605px;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.info-background {
	width: 100%;
	height: 685px;
	z-index: -1;
	position: absolute;
}

.btn__main {
	text-align: center;
	font-family: 'Aleo', sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.32px;
	width: 228px;
	height: 63px;
	border-radius: 0px;
	border: solid 1px white;
	cursor: pointer;
	background: #5474FD;
	color: #FFFFFF;
	border: none;
	box-shadow: none;
	margin-top: 45px;
	&:hover {
		border-bottom: solid 1px #FFFFFF;
	}
}

.btn__getstarted:hover {
 	border: 1px solid #FFFFFF;
}

.btn-link {
	display: flex;
	justify-content: flex-start;
    align-items: center;
}

.mountain-s {
	left: 40px;
}