.third-section {
	height: 496px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.containers {
	display: flex;
	justify-content: center;
	position: absolute;
}

.hidden-container {
	opacity: 0;
	width: 490px;
	height: 334px;
	padding: 30px;
}

.container-left {
	background: rgb(35, 35, 35, 0.8);
	width: 490px;
	height: 334px;
	display: flex;
	padding: 30px;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.mansion {
	position: relative;
	width: 100%;
	max-width: 1770px;
	z-index: -1;
}

@media screen and (max-width: 500px) {

	.third-section {
		height: 496px;
		display: flex;
		justify-content: center;
		align-items: normal;
	}
	.hidden-container {
		display: none;
	}
	.containers {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}


	.container__left {
		background: rgb(35, 35, 35, 0.8);
		width: 100%;
		display: flex;
		padding: 30px;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		position: relative;
	}

	.mansion {
		width: 100%;
		max-width: 1770px;

	}

	.btn__main {
		text-align: center;
		font-family: 'Aleo', sans-serif;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.32px;
		width: 100px;
		height: 43px;
		border-radius: 0px;
		border: solid 1px white;
		cursor: pointer;
		background: $secondary-color;
		color: #FFFFFF;
		border: none;
		box-shadow: none;
		margin-top: 45px;
		&:hover {
			border-bottom: solid 1px $main-txt-color;
		}
	}


}