.end-section {
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
}


.end-container {
	display: flex;
	background: #333333;
	max-width: 1110px;
	width: 100%;
	height: 287px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}


.hiker {
	max-width: 445px;
	width: 100%;

}

.container__four{
	background: #333333;
	max-width: 668px;
	width: 100%;
	display: flex;
	padding: 30px;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.third-title {
	font-family: 'Josefin Sans', sans-serif;
	color: #FFFFFF;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
}

.quote {
	display: flex;
}

.fa-quote-left {
	color: #5474FD;
}

.quote-text {
	text-align: left;
	font-family: 'Josefin Sans', sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	width: 100%;
	max-width: 560px;
	margin-left: 10px;
}
