/*tags*/


body {
	background: #FFFFFF;
	border: none;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


/*classes*/

@import 'header';
@import 'info';
@import 'second-section';
@import 'third-section';
@import 'fourth-section';
@import 'end-section';
@import 'footer';